# Supabase Configuration
SUPABASE_URL="https://wynvzaajjulpowwffkio.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind5bnZ6YWFqanVscG93d2Zma2lvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MzEyMjYsImV4cCI6MjA5MjAwNzIyNn0.CmKhex25G68cK8zCHx8I-a_gwq3QDe_sjGMd9dbGCW"
SUPABASE_ANON_KEY="sb_publishable_thUFZoSIZcUMe3wMhRMx7Q_5Ka6vZsh"

# JWT Secret for Auth
JWT_SECRET="your_jwt_secret_here"
